.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--dark-red);

    & > span {
        font-size: 1.5rem;
        font-family: 'Bungee', sans-serif;
    }
}