.card {
    /* width: 100px; */
    min-height: 350px;
    height: 100%;
    position: relative;

    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.5rem;
}

.card-title {
    line-height: 1;
}

.card-divider {
    margin: 0 0.5rem;
}

.card-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--slate);

    & > div {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;

    & > p {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1;
    }
}

.mat-mdc-card-content {
    margin-bottom: 1rem;
}

.card-link {
    all: unset;
    cursor: pointer;
}

.predict-value {
    position: absolute;
    bottom: 0;
}